
.titulo{
  font-size: 1.2rem;
  top: 10px;
  font-weight: 700;

}

.icone-down{
  font-size:1.5rem;
  font-weight: bolder;
}

.spinner{
  margin-top: 20px;

  .svg{
    left: 40%;
  }

}

ion-card{
  height: 60px;
  -webkit-box-shadow: 0 6px 4px -6px #777;
  -moz-box-shadow: 0 6px 4px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}

img{
  height: 40px !important;
}
