<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="objeto">{{ objeto.nome }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div *ngIf="objeto" class="imagem">
    <ion-img src="{{ objeto.imagem }}"></ion-img>

  <div class="icons-favorite">

    <div class="icons-inline">
      <div
        class="icons"
        *ngFor="let item of avaliacaoEstrela; let i = index"
        (click)="avaliarEvento(item, i)"
      >
        <ion-icon
          name="star-outline"
          *ngIf="item.selected === false"
        ></ion-icon>
        <ion-icon
          id="item"
          name="star"
          *ngIf="item.selected === true"
        ></ion-icon>
      </div>
    </div>

    <div class="favorito" (click)="favoritarEvento()">
      <ion-icon aria-hidden="true" name="heart-outline" *ngIf="objeto.favoritos===false"></ion-icon>
      <ion-icon aria-hidden="true" name="heart" id="heart-total" *ngIf="objeto.favoritos===true"></ion-icon>
    </div>

  </div>

  </div>
  <!-- <ion-icon name="star-outline" *ngFor="let item of avaliacaoEstrela"></ion-icon>
  <ion-icon aria-hidden="true" name="heart-outline"></ion-icon> -->

  <!-- <div *ngIf="objeto" class="descricao">
    <p>
      {{ objeto[0].descricao }}
    </p>
  </div> -->

  <div class="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card *ngIf="objeto">
            <ion-card-header>
              <ion-card-title>Informações</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="calendar-outline"></ion-icon>
                </ion-col>
                <ion-col size="10"
                  >{{ objeto.data }} , {{ objeto.diaSemana }}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="alarm-outline"></ion-icon>
                </ion-col>
                <ion-col size="10">{{ objeto.horarioSaida }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="location-outline"></ion-icon>
                </ion-col>
                <ion-col size="10">{{ objeto.nomeLocal }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="locate-outline"></ion-icon>
                </ion-col>
                <ion-col size="10">{{ objeto.endereco.nomeRua }}</ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
