ion-title{
  font-size: 1rem !important;
  font-weight: bolder;
  text-align: center;
}

ion-content{
    ion-img {
        width: 100%;
        height: 200px;
        margin-top: 10px;
      }

}

p{
  text-align: justify;
  font-weight: 500;
  font-size: medium;
  padding: 20px;


}

ion-card{
  ion-card-header{
    ion-card-title {
      font-size: 1.2rem;
      font-weight: 700;

    }
  }

  ion-card-content{
   ion-row{
      ion-col{
        ion-icon{
          font-size: 1.3rem;
          color: #0D6EFD;
          font-weight: bolder;
        }
      }
    }
  }
}




