<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Configurações de Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" [fullscreen]="true">
  <div class="profile">
    <div class="image">
      <img [src]="imgUrl" *ngIf="imgUrl">

    </div>
    <div class="inputPhoto">
      <input type="file" class="form-control" accept="image/*" #file (change)="preview(file.files, $event)" />

    </div>
  </div>
  <br>
  <div class="form">
    <ion-list>
      <ion-item>
        <ion-label> Nome: </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Email: </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Usuário:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Senha:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-button expand="block">Salvar Alterações</ion-button>
    <ion-button expand="block" color="danger" (click)="logOut()">Sair</ion-button>
  </div>
</ion-content>
