<ion-header>
  <ion-toolbar color="primary">
    <label for="cars">{{"favoritos.titulo" | translate}}</label>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment
      [scrollable]="true"
      [(ngModel)]="selectedSegment"
      (ionChange)="onSegmentChange()"
    >
      <ion-segment-button
        (click)="imprimirDia(item)"
        *ngFor="let item of diaSemana, let i = index"
        [value]="item.selecao"
      >
        <ion-label> {{item.dia | translate}} </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-slides [options]="slideOptions" (ionSlideDidChange)="onSlideChange()">
    <ion-slide *ngFor="let item of diaSemana, let i = index">
      <ion-list id="modal-list" [inset]="true" class="programacao">
        <ion-item *ngFor="let item of items">
          <ion-avatar slot="start">
            <ion-img
              src="{{item.img}}"
              (click)="irModalDetalhes(item.id)"
            ></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{item.name}}</h2>
            <p>{{item.data}}</p>
            <p>{{item.local}}</p>
          </ion-label>
          <ion-icon
            aria-hidden="true"
            name="heart-outline"
            *ngIf="item.favorito === false"
            (click)="favoritar(item)"
          ></ion-icon>
          <ion-icon
            aria-hidden="true"
            name="heart"
            style="color: red"
            *ngIf="item.favorito === true"
            (click)="favoritar(item)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
