<div class="container">
  <div
    class="top"
    [ngStyle]="{ 'background-image': images[currentIndex] }"
  ></div>
  <div class="bottom">
    <div class="login" *ngIf="resetSenha===false">
      <h5 class="title">We Are Carnival</h5>
      <form class="form">
        <div class="form-group">
          <label>Email:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="form-group">
          <label>Senha:</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>

        <div class="buttonEnter">
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="irParaHome()"
          >
            Login
          </button>
        </div>
        <div class="textButton">
          <p>Esqueceu sua senha ?<a (click)="redefinirSenha()"> Clique aqui</a></p>
        </div>
        <div class="textNewConta">
          <p><a (click)="irParaRegistro()">Criar nova conta</a></p>
        </div>
      </form>
    </div>

    <div class="recuperaSenha" *ngIf="resetSenha===true">
      <h6 class="title">Redifinição de Senha</h6>
      <p>Informe o email para que possa ser realizada a troca de senha.</p>
      <form class="form">
        <div class="form-group">
          <label>Email:</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="buttonEnter">
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="showAlert()"
          >
            Enviar
          </button>
        </div>
        <div class="buttons">
          <div class="textButton">
            <p><a (click)="redefinirSenha()">Voltar ao Login</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
