<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>{{"tabs.home" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesquisa">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>{{"tabs.pesquisa" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>{{"tabs.favoritos" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>{{"tabs.info" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>{{"tabs.perfil" | translate}}</ion-label>
    </ion-tab-button>


</ion-tab-bar>

</ion-tabs>
