<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">{{ titulo | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>{{ "Buttons.Save" | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      id="cidade"
      [(ngModel)]="selectedSegment"
      (ionChange)="onSegmentChange()"
    >
      <ion-segment-button value="segment1" (click)="imprimirValor(1)">
        <ion-label>Olinda</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment2" (click)="imprimirValor(2)">
        <ion-label>Recife</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <div class="menu">
      <ion-button
        fill="outline"
        class="button"
        (click)="chamarPolosGerais(3)"
        [ngClass]="{ buttonBack: cardsBlocos === true }"
      >
        {{ "Buttons.Button1" | translate }}
      </ion-button>
      <ion-button
        fill="outline"
        class="button"
        (click)="chamarPolosGerais(4)"
        [ngClass]="{ buttonBack: cardsBlocos === false }"
      >
        {{ "Buttons.Button2" | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-slides [options]="slideOptions" (ionSlideDidChange)="onSlideChange()">
    <ion-slide>
      <div class="programacao" *ngIf="cardsBlocos === false">
        <app-card-expansivo
          *ngFor="let item of polos; let i = index"
          [titulo]="item.polo"
          [expandirCard]="item.expandir"
          [mostrarCardAtracoes]="true"
        >
        </app-card-expansivo>
      </div>

      <ion-list
        id="modal-list"
        [inset]="true"
        *ngIf="cardsBlocos"
        class="programacao"
      >
        <ion-item *ngFor="let item of eventos">
          <ion-avatar slot="start">
            <ion-img
              src="{{ item.imagem }}"
              (click)="irModalDetalhes(item.id)"
            ></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ item.nome }}</h2>
            <p>{{ item.data }}</p>
            <p>{{ item.nomeLocal }}</p>
          </ion-label>
          <ion-icon
            aria-hidden="true"
            name="heart-outline"
            *ngIf="item.favoritos === false"
            (click)="favoritar(item)"
          ></ion-icon>
          <ion-icon
            aria-hidden="true"
            name="heart"
            style="color: red"
            *ngIf="item.favoritos === true"
            (click)="favoritar(item)"
          ></ion-icon>
          <div class="cardContent"></div>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <div class="programacao" *ngIf="cardsBlocos === false">
        <app-card-expansivo
          *ngFor="let item of polos; let i = index"
          [titulo]="item.polo"
          [expandirCard]="item.expandir"
          [mostrarCardAtracoes]="true"
        >
        </app-card-expansivo>
      </div>

      <ion-list
        id="modal-list"
        [inset]="true"
        *ngIf="cardsBlocos"
        class="programacao"
      >
        <ion-item *ngFor="let item of eventos">
          <ion-avatar slot="start">
            <ion-img
              src="{{ item.imagem }}"
              (click)="irModalDetalhes(item.id)"
            ></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ item.nome }}</h2>
            <p>{{ item.data }}</p>
            <p>{{ item.nomeLocal }}</p>
          </ion-label>
          <ion-icon
            aria-hidden="true"
            name="heart-outline"
            *ngIf="item.favoritos === false"
            (click)="favoritar(item)"
          ></ion-icon>
          <ion-icon
            aria-hidden="true"
            name="heart"
            style="color: red"
            *ngIf="item.favoritos === true"
            (click)="favoritar(item)"
          ></ion-icon>
          <div class="cardContent"></div>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
