<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">{{ titulo | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment id="cidade" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange()">
      <ion-segment-button value="segment1" (click)="imprimirValor(1)">
        <ion-label>Olinda</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment2" (click)="imprimirValor(2)">
        <ion-label>Recife</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
      <div class="menu">
        <ion-button
        fill="outline"
        class="button"
        (click)="chamarPolosGerais(3)"
        [ngClass]="{ 'buttonBack': cardsBlocos === true}"

        >
        Blocos de Rua
        </ion-button>
        <ion-button
        fill="outline"
        class="button"
        (click)="chamarPolosGerais(4)"
        [ngClass]="{ 'buttonBack': cardsBlocos === false}"

        >Polos</ion-button>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">

  <ion-slides [options]="slideOptions" (ionSlideDidChange)="onSlideChange()">
    <ion-slide>
      <div  class="programacao" *ngIf="cardsBlocos===false"
        >
        <app-card-expansivo
          *ngFor="let item of polos; let i = index"
          [titulo]="item.polo"
          [expandirCard]="item.expandir"
          [mostrarCardAtracoes]=true

        >
        </app-card-expansivo>

      </div>

      <ion-list
       id="modal-list"
       [inset]="true"
       *ngIf="cardsBlocos"
       class="programacao"
       >
        <ion-item *ngFor="let item of eventos">
          <ion-avatar slot="start">
            <ion-img
              src="{{ item.img }}"
              (click)="irModalDetalhes(item.id)"
            ></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ item.name }}</h2>
            <p>{{ item.data }}</p>
            <p>{{ item.local }}</p>
          </ion-label>
          <ion-icon
            aria-hidden="true"
            name="heart-outline"
            *ngIf="item.favorito === false"
            (click)="favoritar(item)"
          ></ion-icon>
          <ion-icon
            aria-hidden="true"
            name="heart"
            style="color: red"
            *ngIf="item.favorito === true"
            (click)="favoritar(item)"
          ></ion-icon>
          <div class="cardContent"></div>
        </ion-item>
      </ion-list>

    </ion-slide>
    <ion-slide>
      <div class="programacao" *ngIf="cardsBlocos===false">
        <app-card-expansivo
         *ngFor="let item of polos; let i = index"
          [titulo]="item.polo"
          [expandirCard]="item.expandir"
          [mostrarCardAtracoes]=true

        >
        </app-card-expansivo>
        <!-- <div *ngIf="polos">
          <ion-card
          *ngIf="polos.expandir === true">
            <img
              alt="Silhouette of mountains"
              src="../../../../assets/imagens/mapas/Carmo.png"
            />
            <ion-card-content>
              <ion-list id="modal-list" [inset]="true">
                <ion-item *ngFor="let item of eventos">
                  <ion-avatar slot="start">
                    <ion-img
                      src="{{ item.img }}"
                      (click)="irModalDetalhes(item.id)"
                    ></ion-img>
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.data }}</p>
                    <p>{{ item.local }}</p>
                  </ion-label>
                  <ion-icon
                    aria-hidden="true"
                    name="heart-outline"
                    *ngIf="item.favorito === false"
                    (click)="favoritar(item)"
                  ></ion-icon>
                  <ion-icon
                    aria-hidden="true"
                    name="heart"
                    style="color: red"
                    *ngIf="item.favorito === true"
                    (click)="favoritar(item)"
                  ></ion-icon>
                  <div class="cardContent"></div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div> -->
      </div>

      <ion-list
      id="modal-list"
      [inset]="true"
      *ngIf="cardsBlocos"
      class="programacao"
      >
       <ion-item *ngFor="let item of eventos">
         <ion-avatar slot="start">
           <ion-img
             src="{{ item.img }}"
             (click)="irModalDetalhes(item.id)"
           ></ion-img>
         </ion-avatar>
         <ion-label>
           <h2>{{ item.name }}</h2>
           <p>{{ item.data }}</p>
           <p>{{ item.local }}</p>
         </ion-label>
         <ion-icon
           aria-hidden="true"
           name="heart-outline"
           *ngIf="item.favorito === false"
           (click)="favoritar(item)"
         ></ion-icon>
         <ion-icon
           aria-hidden="true"
           name="heart"
           style="color: red"
           *ngIf="item.favorito === true"
           (click)="favoritar(item)"
         ></ion-icon>
         <div class="cardContent"></div>
       </ion-item>
     </ion-list>
    </ion-slide>

  </ion-slides>


  <!-- <div *ngFor="let item of polos; let i = index">
    <app-card-expansivo
      [titulo]="item.polo"
      [expandirCard]="item.expandir"
      (click)="expandirCardEvent(i)"
    >
    </app-card-expansivo>
    <ion-card *ngIf="item.expandir === true">
      <img
        alt="Silhouette of mountains"
        src="../../../../assets/imagens/mapas/Carmo.png"
      />
      <ion-card-content>
        <ion-list id="modal-list" [inset]="true">
          <ion-item *ngFor="let item of items">
            <ion-avatar slot="start">
              <ion-img
                src="{{ item.img }}"
                (click)="irModalDetalhes(item.id)"
              ></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{ item.name }}</h2>
              <p>{{ item.data }}</p>
              <p>{{ item.local }}</p>
            </ion-label>
            <ion-icon
              aria-hidden="true"
              name="heart-outline"
              *ngIf="item.favorito === false"
              (click)="favoritar(item)"
            ></ion-icon>
            <ion-icon
              aria-hidden="true"
              name="heart"
              style="color: red"
              *ngIf="item.favorito === true"
              (click)="favoritar(item)"
            ></ion-icon>
            <div class="cardContent"></div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div> -->

  <!-- <ion-list id="modal-list" [inset]="true" *ngIf="cardsBlocos">
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <ion-img
          src="{{ item.img }}"
          (click)="irModalDetalhes(item.id)"
        ></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.data }}</p>
        <p>{{ item.local }}</p>
      </ion-label>
      <ion-icon
        aria-hidden="true"
        name="heart-outline"
        *ngIf="item.favorito === false"
        (click)="favoritar(item)"
      ></ion-icon>
      <ion-icon
        aria-hidden="true"
        name="heart"
        style="color: red"
        *ngIf="item.favorito === true"
        (click)="favoritar(item)"
      ></ion-icon>
      <div class="cardContent"></div>
    </ion-item>
  </ion-list> -->

</ion-content>
