ion-avatar {
  --border-radius: 0px;

}

ion-header{
   text-align: center;
}

.titulo{
  font-weight: 700;
}

ion-toolbar{
  ion-segment{
    ion-label{
       text-transform: capitalize;
       font-size: 1rem;
       font-weight: 600;
    }
  }
}


