ion-avatar {
  --border-radius: 0px;

}

ion-header{
   text-align: center;

   .menu{
    margin-top: 5px !important;
    ion-button{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
   }

}

.titulo{
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

ion-toolbar{
  ion-segment{

    ion-label{
       text-transform: capitalize;
       font-size: 1rem;
       font-weight: 600;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
  }

  ion-segment#blocos{

    ion-segment-button{
      width: 50%;

      ion-label{
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 300;
        color: black;
      }
    }



  }

}


.buttonBack{
  --background: #0D6EFD;
  --color: white;
}

ion-content{
  ion-slides {
    height: 100%;

    .swiper-slide{
      width: 100%;
      height: 100%;
      overflow-y: auto;

    }

    .programacao {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

}






