<div class="container">
  <div >
    <ion-grid [fixed]="true">
      <ion-row class="ion-no-padding">
        <ion-col size="12">
          <h4 class="section-header">{{"Home.texto13" | translate }}</h4>
        </ion-col>
     </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-slides [options]="opts">
      <ion-slide tappable *ngFor="let item of listaSlide">
        <ion-grid>
           <ion-row>
            <ion-card color="primary" (click)="irParaDetalhesPesquisa(item)" >
              <img alt="Silhouette of mountains" [src]="item.imagem" />
              <ion-card-header>
                <ion-card-title>{{ item.nome | translate }}</ion-card-title>
              </ion-card-header>


            </ion-card>
           </ion-row>


        </ion-grid>
      </ion-slide>

      <!-- <ion-slide tappable>
        <ion-grid>
           <ion-row>
            <ion-card color="primary">
              <img alt="Silhouette of mountains" src="../../../../assets/imagens/slide/camarote.png" />
              <ion-card-header>
                <ion-card-title>{{"Home.texto7" | translate }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
              </ion-card-content>
            </ion-card>
           </ion-row>


        </ion-grid>
      </ion-slide>

      <ion-slide tappable>
        <ion-grid>
           <ion-row>
            <ion-card color="primary">
              <img alt="Silhouette of mountains" src="../../../../assets/imagens/slide/restaurante.jpeg"/>
              <ion-card-header>
                <ion-card-title>{{"Home.texto9" | translate }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
              </ion-card-content>
            </ion-card>
           </ion-row>


        </ion-grid>
      </ion-slide>

      <ion-slide tappable>
        <ion-grid>
           <ion-row>
            <ion-card color="primary">
              <img alt="Silhouette of mountains" src="../../../../assets/imagens/slide/turismo.jpg"/>
              <ion-card-header>
                <ion-card-title>{{"Home.texto10" | translate }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
              </ion-card-content>
            </ion-card>
           </ion-row>


        </ion-grid>
      </ion-slide>

      <ion-slide tappable>
        <ion-grid>
           <ion-row>
            <ion-card color="primary">
              <img alt="Silhouette of mountains" src="../../../../assets/imagens/slide/pousada.jpg"/>
              <ion-card-header>
                <ion-card-title>{{"Home.texto11" | translate }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
              </ion-card-content>
            </ion-card>
           </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide tappable>
        <ion-grid>
           <ion-row>
            <ion-card color="primary">
              <img alt="Silhouette of mountains" src="../../../../assets/imagens/slide/fantasia.jpg"/>
              <ion-card-header>
                <ion-card-title>{{"Home.texto12" | translate }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
              </ion-card-content>
            </ion-card>
           </ion-row>
        </ion-grid>
      </ion-slide> -->

    </ion-slides>
  </div>
</div>

