<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar
      animated="true"
      placeholder="Encontre o evento ..."
      show-cancel-button="focus"
      (ionInput)="handleInput($event)"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="showPesquisa===true">

    <ion-list [inset]="true">
      <ion-item *ngFor="let item of items">
        <ion-avatar slot="start">
          <ion-img
            src="{{item.img}}"
            (click)="irModalDetalhes(item.id)"
          ></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>{{item.data}}</p>
        </ion-label>

      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <app-lista-slide
    *ngIf="showPesquisa===false"
    [listaSlide]="items"
    titulo="Grandes Blocos Tradicionais"
  >
  </app-lista-slide>

  <app-lista-slide [listaSlide]="items" titulo="Eventos Pagos">
  </app-lista-slide>

  <app-lista-slide [listaSlide]="items" titulo="Infantil"> </app-lista-slide>

  <div>
    <ion-grid [fixed]="true">
      <ion-row class="ion-no-padding">
        <ion-col size="12">
          <h4 class="section-header">Programe o seu Carnaval</h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-card-expansivo
      *ngFor="let item of diaSemana; let i = index"
      [titulo]="item.dia"
      (click)="irModallistEventos(item.id)"

    >
    </app-card-expansivo>
  </div>
</ion-content>
