$font-oficial: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

ion-header{
  ion-toolbar#titulo{
    text-align: center;
    .tituloHeader{
      font-weight: 700;
      font-size: 1rem;
      font-family: $font-oficial;
    }

  }
}

.swiper-slide img{
  height: 90px;
}

.titulo{
  font-size: 0.7rem !important;
  margin-top: 2px !important;
  font-family: $font-oficial;
}

.fonte{
  font-size: 0.6rem !important;
  margin-top: 2px !important;
}

.section-header{
  margin-left: 10px !important;
  font-weight: bold;
  font-family: $font-oficial;
  color: #0D6EFD;

}

.section-subtitle{
  margin-left: 10px !important;
  font-family: $font-oficial;
  font-size: 0.8rem;

}

.searchbar-input.sc-ion-searchbar-md{
  border-radius: 30px;
}

.flag{
  ion-item{
    img{
      width: 30px !important;
      height: 30px !important;
    }

    ion-label#text{
      font-family: $font-oficial;
      font-size: 0.9rem;

     }

  }
}

ion-slides{
  ion-slide{
    ion-grid{
       ion-row{
         img{
          width: 100%;
         }
       }
    }
  }
}

.programacao{
  background-color: white;
  border-bottom: 2px solid #f4f5f8;
  border-radius: 10px;
}

.recomendacoes{
  background-image: url('../../assets/imagens/recomedacoes.png');
  background-size: cover;
  background-position: center;
  height: 100%;
}


