<ion-header>
  <ion-toolbar color="primary" id="titulo">
    <ion-title class="tituloHeader">Olá, Fulano.</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar
      animated="true"
      [placeholder]="placeholder"
      show-cancel-button="focus"
      (ionInput)="handleInput($event)"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="showPesquisa===true">
    <ion-list [inset]="true">
      <ion-item *ngFor="let item of items">
        <ion-avatar slot="start">
          <ion-img
            src="{{item.img}}"
            (click)="irModalDetalhes(item.id)"
          ></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>{{item.data}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">

  <div class="flag" *ngIf="showPesquisa===false">
    <ion-item>
      <ion-label *ngIf="toggleValue===false">
        <img src="../../assets/imagens/flags/brasil.png">
      </ion-label>
      <ion-label *ngIf="toggleValue===true">
        <img src="../../assets/imagens/flags/eua.png">
     </ion-label>
     <ion-label id="text">
      {{ "Home.texto5" | translate}}
    </ion-label>
       <ion-toggle [(ngModel)]="toggleValue" (ionChange)="mostrarValor()"> Toggle </ion-toggle>
    </ion-item>
  </div>

<app-lista-slide *ngIf="showPesquisa===false" [listaSlide]="items" titulo="Home.texto1"> </app-lista-slide>

<app-lista-slide [listaSlide]="items" titulo="Home.texto2"></app-lista-slide>

<app-lista-slide-elementos [listaSlide]="outrasOpt"></app-lista-slide-elementos>

  <div class="programacao">
    <ion-grid [fixed]="true">
      <ion-row class="ion-no-padding">
        <ion-col size="12">
          <h4 class="section-header">{{ 'Home.texto4' | translate }}</h4>
          <h6 class="section-subtitle">{{ 'Home.texto6' | translate }}</h6>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-card-expansivo
      *ngFor="let item of diaSemana; let i = index"
      [titulo]="item.dia"
      [expandirCard]= false
      [mostrarCardAtracoes]=false
      (click)="irModallistEventos(item.id)"
    >
    </app-card-expansivo>
  </div>
</ion-content>
